.env
.env.example
.envrc
*.db
/static/
/.venv/
/**/__pycache__/
/**/.pytest_cache
/**/.idea/
/.github/
/web/
/admin-panel/
.pre-commit-config.yaml
config.example.yaml
config.yaml
docker-compose.yaml
README.MD
TEST_COVERAGE_REPORT.md
test.sh
shell.nix
